<div class="list_jobs flex flex-wrap w-full items-end justify-end py-5">
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-search" />
    <input
      type="text"
      class="m-4 p-2"
      (keyup)="search($event)"
      pInputText
      placeholder="Search"
    />
  </p-iconField>
  <div class="jobs flex flex-wrap w-full items-center justify-center p-5">
    <div
      class="max-w-sm rounded overflow-hidden shadow-lg m-4 lg:w-1/4"
      *ngFor="let item of jobs"
    >
      <img class="w-full" [src]="item.cover" alt="Sunset in the mountains" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          {{ item.title ? item.title : "No Title Found!" }}
        </div>
        <p class="text-gray-700 text-base">
          <i class="pi pi-map-marker"></i>
          {{ item.page.location.address_line_one }}
        </p>
        <p class="text-gray-700 text-base">
          <i class="pi pi-building-columns"></i>
          {{ item.page.name ? item.page.name : "No company Found!" }}
        </p>
        <p class="text-gray-700 text-base">
          <i class="pi pi-calendar"></i>
          {{ item.page.updated_at ? item.page.updated_at  : "No date Found!" }}
        </p>
        <p class="text-gray-700 text-base" appSeeMoreLess *ngIf="item.description">
          {{ item.description }}
        </p>
        <p class="text-gray-700 text-base" appSeeMoreLess *ngIf="!item.description">
          No decription found!
        </p>
      </div>
    </div>
  </div>
</div>
